{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Run Club| Yonkers trails!</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <header class="header-container">
            <h1><a href="/"> Run Club Yonkers! keeping it fast!</a></h1>

        <nav class="nav-links">
            <a href="/profile/" class="profile-btn">Profile</a>
            <a href="/runs/" class="profile-btn">My Runs</a>
            <a href="{% url 'logout' %}" class="profile-btn">Logout</a>
        </nav>
        </header>
        <section class="box" style="margin: 20px;">
            <h2> Welcome to Run Club Yonkers </h2>
            <p>
                A simple running tracker built for our local runners in yonkers.
                Log your runs, track your progrss and stay consitent.
                Want to join us on our runs, sign up and drop your availibity and get moving!
            </p>
        </section>


        <main>
        <section class="box" style="margin: 20px;">
            <h2>What We can do for you!</h2>
            <ul>
                <li>Create a personal profile</li>
                <li>Log your runs (distance + duration)</li>
                <li>View performance graphs</li>
                <li>Track your average pace and progress</li>
            </ul>
        </section>
        <label> Not a member? Join Us now!</label>
        <a href="/signup/" class="signup-btn">Join Now</a>
        </main>
    </body>
</html>