{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Run Club| Yonkers trails!</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <header class="header-container">
            <h1>Run Club Yonkers! keeping it fast!</h1>

            <a href="/profile/" class="profile-btn">Profile</a>
        </header>
        
        <main>

            <section>
                <div>
                    <h2> Welcome to the Yonkers Run Club!</h2>

                    <p> Want to kick off and run, Unsure how or having issue commiting?
                        we're here to help and grow together for postive excercise and friendly competiton
                        feel free to join us on our disclosed times
                    </p>
                <a href="/signup/" class="signup-btn">Join Now</a>
                </div>
            </section>
        </main>
    </body>
</html>