header {
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px;
  background-color: white;
}
header a {
  text-decoration: none;
  color: black;
}
body {
  background-color: lightblue;
  font-family: verdana;
}
p {
  font-size: 16px;
  line-height: 1.5;
}

.center-text {
  text-align: center;
}

.side-text {
  text-align: left;
  margin-left: 40px;
}

.box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.header-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.profile-btn{
  text-decoration: none;
  background-color: white;
  padding: 8px 12px;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
}

.signup-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links {

  display: flex;

  /* Space between nav buttons */
  gap: 10px;
}
.error-box {
  background-color: #ffdddd;
  border: 1px solid red;
  color: darkred;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
  border-radius: 5px;
  text-align: center;
}